.content
   .container
      .content__wrap
         .content__item
            .sidebar
               ul.sidebar__menu
                  li.sidebar__menu_item.sidebar__menu_home
                     a.sidebar__menu_link Home
                  li.sidebar__menu_item.sidebar__menu_store
                     a.sidebar__menu_link Store  
                  li.sidebar__menu_item.sidebar__menu_blog
                     a.sidebar__menu_link Blog   
                  li.sidebar__menu_item.sidebar__menu_group
                     a.sidebar__menu_link Community    
                  li.sidebar__menu_item.sidebar__menu_consests
                     a.sidebar__menu_link Contests  
                  li.sidebar__menu_item.sidebar__menu_about
                     a.sidebar__menu_link About  
                  li.sidebar__menu_item.sidebar__menu_contact
                     a.sidebar__menu_link Contact  
               .contact  
                  ul.contact__list
                     li.contact__item.contact__number
                        a.contact__link
                           | (912) 555-1234
                           br
                           | (912) 555-5678
                     li.contact__item.contact__adress 
                        a.contact__link
                           | 1600 Pennsylvania
                           br
                           | Ave NW, Washington
                           br 
                           | DC 20500, USA
                     li.contact__item.contact__mail  
                        a.contact__link
                           | hello@website.com
                           br
                           | office@website.com
                       
            .navigation  
               .navigation__menu
                  ul.navigation__menu_list
                     li.navigation__menu_item
                        a.navigation__menu_link Tech
                           img(src="img/icon-arrow.png")
                     li.navigation__menu_item
                        a.navigation__menu_link Software & Apps
                     li.navigation__menu_item
                        a.navigation__menu_link Gadgets
                     li.navigation__menu_item
                        a.navigation__menu_link Mobile   
                     
               .navigation__menu
                  ul.navigation__menu_list
                     li.navigation__menu_item
                        a.navigation__menu_link Entertaiment
                           img(src="img/icon-arrow.png")
                     li.navigation__menu_item
                        a.navigation__menu_link Film
                     li.navigation__menu_item
                        a.navigation__menu_link Gaming
                     li.navigation__menu_item
                        a.navigation__menu_link Music   
                     li.navigation__menu_item
                        a.navigation__menu_link Sport      
               .navigation__menu
                   ul.navigation__menu_list
                     li.navigation__menu_item
                        a.navigation__menu_link Buisness
                           img(src="img/icon-arrow.png")
                     li.navigation__menu_item
                        a.navigation__menu_link Jobs
                     li.navigation__menu_item
                        a.navigation__menu_link Marketing
                     li.navigation__menu_item
                        a.navigation__menu_link Media
               .navigation__menu
                   ul.navigation__menu_list
                     li.navigation__menu_item
                        a.navigation__menu_link Lifestyle
                           img(src="img/icon-arrow.png")
                     li.navigation__menu_item
                        a.navigation__menu_link Home
                     li.navigation__menu_item
                        a.navigation__menu_link Health & Fitness   
                     li.navigation__menu_item
                        a.navigation__menu_link Travel & Leisure
               
         .content__item
            .social__wrap
               .social__left
                  ul.social__list
                     li.social__list__item.social__icons_fb
                        a.social__list_link Facebook
                     li.social__list__item.social__icons_tw
                        a.social__list_link Twitter
                     li.social__list__item.social__icons_ggl
                        a.social__list_link Google+
                     li.social__list__item.social__icons_rss
                        a.social__list_link Rss Feeds
                     li.social__list__item.social__icons_pint 
                        a.social__list_link  Pinterest
               .social__right
                  .social__fb.animated
                     img.social__fb_img(src="img/icon-fb.png")
                     p.social__desc 
                        span 156K
                        a Follow
                        img(src="img/icon-follow.png")
                        
                  .social__tw.animated
                     img.social__tw_img(src="img/icon-tw.png")
                     p.social__desc 
                        span 89K
                        a Following 
                        img(src="img/icon-following.png")
            .enter__wrap
               .enter__item
                  h1.enter__title Sign In
                  h3.enter__desc Just select your favorite social network to get started
                  .enter__icons
                     a.enter__icons_link
                        img.enter__icons_img(src="img/icon-fb-blue.png")
                        
                  
                     a.enter__icons_link
                        img.enter__icons_img(src="img/icon-tw-aq.png")
                  
                     a.enter__icons_link
                        img.enter__icons_img(src="img/icon-google.png")
                  
                     a.enter__icons_link  
                        img.enter__icons_img(src="img/icon-linkedin.png")
                        
               .enter__item
                  h1.enter__title Join the Newsletter
                  h3.enter__desc_second Sign up for personalized daily newsletter
                  form.enter__mail
                     input.mail__inpt(type="text")
                     a.mail__btn sign up
                     
               
            
         
   