header.header
   .container
      .header__wrap
         .menu__touch   
            span.menu__touch_divider
            span.menu__touch_divider
            span.menu__touch_divider
         nav.nav__menu
            ul.nav__menu_list
               li.nav__menu_item 
                  a.nav__menu_link Home
               li.nav__menu_item 
                  a.nav__menu_link Store
               li.nav__menu_item 
                  a.nav__menu_link Blog
               li.nav__menu_item 
                  a.nav__menu_link About
               li.nav__menu_item 
                  a.nav__menu_link Contact  
         .header__search
            ul.search__form 
               input.header__search_inpt(type="text")
                  
         .header__icons_wrap  
            a.header__icons_link 
               i(class="fa fa-facebook" aria-hidden="true")
            a.header__icons_link   
               i(class="fa fa-twitter" aria-hidden="true")
            a.header__icons_link   
               i(class="fa fa-google-plus" aria-hidden="true")  
         .header__login
            a.header__login_link.user__reg 
               i(class="fa fa-user" aria-hidden="true") 
