form(action="" method="post" class="register animated")
   a.form__hide X   
   label(for="email") Email Address
   input.modal__field(class="modal__field" type="email" id="email" name="email" value="")
   label(for="password") Password 
   input.modal__field(class="modal__field" type="password" id="password" name="password" value="")
   label(for="tel") Phone Number
   input.modal__field(class="modal__field" type="tel" id="tel" name="tel" value="")
   input(type="button" class="send" name="submit" value="Log In")