section.media
   .container   
      .slider
         .slider__slide
            img.slider__slide_img(src="img/slide-1.jpg")
            
               
         .slider__slide
            img.slider__slide_img(src="img/slide-2.jpg")
            
         .slider__slide
            img.slider__slide_img(src="img/slide-3.jpg")
            