doctype html
html
   head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title test
      link(rel="stylesheet", href="css/reset.css")
      link(rel="stylesheet", href="css/font-awesome.css")
      link(rel="stylesheet" type="text/css" href="css/slick/slick.css")
      link(rel="stylesheet" type="text/css" href="css/slick/slick-theme.css")
      link(rel="stylesheet" type="text/css" href="css/animate.css")
      link(rel="stylesheet", href="css/main.css")  
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
      

      
   body
      .window
      include _header
      include _content
      include _slider
      include _modal
      script(type="text/javascript" src="js/slick.js")
      script(type="text/javascript" src="js/main.js")   
      
      